<% review.comments.each do |comment| %>
  <% comment_user = comment.user %>
  <div class="border-top py-3">
    <div class="d-flex">
      <%= render 'public/reviews/username', review: review %>
      <div class="ml-auto">
        <% if current_user == comment_user || admin_signed_in? %>
        	<%= link_to '削除', review_comment_path(comment.review_id, comment.id), class: 'btn-sm btn-dark', method: :delete, remote: true, "data-confirm" => "コメントを削除しますか？" %>
      	<% end %>
      </div>
    </div>
  	<div><%= comment.content %></div>
  </div>
<% end %>