<div class="container">
  <div class="text-center mt-5">
    <h2>STAGE REVIEWとは？</h2>
    <p class="my-5">舞台観劇のレビューを投稿できる機能を中心に、</br>
    「観劇の記録」、「観劇したい作品の備忘録」、</br>
    「ユーザー同士のコミュニケーションツール」としてご利用いただけるサイトです。</p>
  </div>
  <div class="row my-4">
    <div class="col-12 col-md-4 text-center">
      <%= image_tag 'note.png', size: "150x150" %>
      <p>レビューで観劇の感動を分かち合う</p>
      <p>観劇した後は、簡単な感想から真剣な評論まで、感動を記録して共有しましょう！観劇日や観劇場所などの観劇の記録としても利用できます。</p>
    </div>
    <div class="col-12 col-md-4 text-center">
      <%= image_tag 'check.png', size: "150x150" %>
      <p>観劇したい公演をチェック</p>
      <p>観劇したい公演のページで見たいボタンを押すとマイページで見たい公演を一覧で見ることができます。</p>
    </div>
    <div class="col-12 col-md-4 text-center">
      <%= image_tag 'comments.png', size: "150x150" %>
      <p>レビューへのコメントで交流</p>
      <p>レビューの感想などをコメントして投稿者と交流してみましょう！ユーザーをフォローすることもできます。</p>
    </div>
  </div>
</div>
