<div class="container">
  <div class="text-center mt-5">
    <h2>STAGE REVIEWとは？</h2>
    <p class="my-5">演劇やステージのレビューを投稿できる機能を中心に、</br>
    「観劇の記録」、「観劇したい作品の備忘録」、</br>
    「ユーザー同士のコミュニケーションツール」としてご利用いただけるサイトです。</p>
  </div>
  <div class="row my-2">
    <div class="col-12 col-md-4 text-center my-2">
      <%= image_tag 'note.png', size: "150x150" %>
      <p class="font-weight-bold">レビューで観劇の感動を共有</p>
      <p class="px-3">観劇した後は、簡単な感想から真剣な評論まで、感動を記録して共有しましょう！観劇日や観劇場所などの観劇の記録としても利用できます。</p>
    </div>
    <div class="col-12 col-md-4 text-center my-2">
      <%= image_tag 'check.png', size: "150x150" %>
      <p class="font-weight-bold">観劇したい公演をチェック</p>
      <p class="px-3">観劇したい公演のページで見たいボタンを押すとマイページで観劇したい公演を一覧で見ることができます。</p>
    </div>
    <div class="col-12 col-md-4 text-center my-2">
      <%= image_tag 'comments.png', size: "150x150" %>
      <p class="font-weight-bold">ユーザー同士で交流</p>
      <p class="px-3">レビューの感想をコメントして投稿者と交流してみましょう！ユーザーをフォローすることもできます。</p>
    </div>
  </div>
</div>
