<div class="container">
  <% if params[:stage_id] %>
    <h5 class='offset-md-2 page_title my-4'>“<%= @stage.name %>”のレビュー一覧</h5>
  <% else %>
    <h5 class='offset-md-2 page_title my-4'>レビュー一覧</h5>
  <% end %>
  <div class="row">
    <div class="col-md-8 mx-auto bg-white">
      <%= render 'admin/reviews/index', reviews: @reviews %>
    </div>
  </div>
</div>
