<div class='container'>
  <h2 class='page-title'>ジャンル編集</h2>
  <%= render 'layouts/errors', obj: @genre %>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 mx-auto">
      <%= form_with model: @genre, url: admin_genre_path, local: true do |f| %>
          <div class="form-group col-10 mx-auto">
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group text-center">
            <%= f.submit "変更を保存", class: 'btn btn-dark ml-3' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
