<div class="container">
  <div class="row mb-3">
    <div class="col-md-8 mx-auto">
      <h3>お問い合わせ一覧</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th style="width: 35%">メールアドレス</th>
              <th style="width: 65%">用件</th>
            </tr>
          </thead>
          <tbody>
            <% @contacts.each do |contact| %>
            <tr onclick='window.location="<%= '/admin/contacts/' + contact.id.to_s %>"' role="link" class="contact-page">
              <td><%= contact.email %></td>
              <td><%= contact.subject %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <div class="d-flex justify-content-center"><%= paginate(@contacts) %></div>
    </div>
  </div>
</div>