<div class="container">
  <% if params[:stage_id] %>
    <h2 class='page-title'>“<%= @stage.name %>”のレビュー一覧</h2>
  <% else %>
    <h2 class='page-title'>レビュー一覧</h2>
  <% end %>
  <div class="row px-3">
    <div class="col-md-9 mx-auto bg-white">
      <%= render 'public/reviews/index', reviews: @reviews %>
    </div>
    <div class="mt-3 d-flex justify-content-center"><%= paginate @reviews %></div>
  </div>
</div>



