<div class="container">
  <% if params[:genre_id] %>
    <h2 class='page-title'>“<%= @genre.name %>”公演一覧</h2>
  <% elsif params[:sort] == 'now' %>
    <h2 class='page-title'>上演中の公演一覧</h2>
  <% elsif params[:sort] == 'coming' %>
    <h2 class='page-title'>上演予定の公演一覧</h2>
  <% else %>
    <h2 class='page-title'>公演一覧</h2>
  <% end %>
  <div class="col-md-9 mx-auto bg-white">
    <%= render 'public/stages/index', stages: @stages %>
  </div>
  <div class="mt-3 d-flex justify-content-center"><%= paginate @stages %></div>
  <% if user_signed_in? %>
    <div class="row">
      <div class="mx-auto d-flex mt-5">
        <%= link_to "公演を新規登録する",new_stage_path, class: "btn btn-dark px-3" %>
      </div>
    </div>
  <% end %>
</div>

