<div class="table-responsive">
  <table class="table bg-white text-center" style="table-layout:fixed;">
    <thead class="thead-light">
      <tr>
        <th style="width:400px;">公演名</th>
        <th style="width:100px;">評価</th>
        <th style="width:150px;">レビュー数</th>
      </tr>
    </thead>
    <tbody>
      <% stages.each do |stage| %>
        <tr>
          <td class="text-left ml-3"><%= link_to stage.name, admin_stage_path(stage), class: "text-decoration-underline"%></td>
          <td><%= stage.reviews.average(:rate).to_f.round(1) %></td>
          <td><%= link_to stage.reviews.count, admin_reviews_path(stage_id: stage.id), class: "text-decoration-underline" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>