<div class="container">
  <% if params[:genre_id] %>
    <h5 class='offset-md-2 page_title my-4'>“<%= @genre.name %>”公演一覧</h5>
  <% else %>
    <h5 class='offset-md-2 page_title my-4'>公演一覧</h5>
  <% end %>
  <div class="row col-md-10 mx-auto">
    <div class="ml-auto d-flex mb-4">
      <%= link_to "公演を新規登録する",new_admin_stage_path, class: "btn btn-dark px-3" %>
    </div>
  </div>
  <%= render 'admin/stages/index', stages: @stages %>
</div>
