/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

nav{
  background: #c6b4ae;
}

body{
    background-color: #f4f0ef;
    padding-top: 5rem;
}

a{
    color: #6c8b9d;
}

a:hover{
    color: #c6b4ae;
    text-decoration: none;
}

#error_explanation {
  color: #e07a5f;
 }

#alert {
  color: #e07a5f;
  text-align: center;
 }

.badge{
  color: #fff;
  font-size: 14px;
  padding: 3px 5px;
  background: #81b29a;
}

.required:after {
    color: #e07a5f;
    content: " *";
}

.user-image img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.rating-score{
    color: #f2cc8f;
    font-size: 22px;
    margin: 0 10px;
}

/* 見たいボタンの色変更 */
.bookmark-btn {
  color: #fff;
  background-color: #e07a5f;
  border-color: #e07a5f;
}

.bookmark-btn:hover {
  color: #fff;
}

.bookmarked-btn {
  color: #e07a5f;
  background-color: transparent;
  border-color: #e07a5f;
}

.bookmarked-btn:hover {
  color: #e07a5f;
}

/* タブの色変更 */
.nav-pills .nav-link.active{
  color: #fff;
  background-color: #c6b4ae;
  border-radius: 15px 15px 0 0;
  border-bottom: solid 2px #c6b4ae;
}

/* タブの文字色変更 */
.nav-pills .nav-link{
  color: #a78c82;
  border-radius: 15px 15px 0 0;
  border-bottom: solid 1px #dee2e6;
}

footer {
  text-align: center;
  margin: 50px 0 30px 0;
}

/* ページネーションをカスタマイズ*/
.pagination>li>a {
  border: none;
  color: #3d405b;
}

.page-item.active .page-link{
  background-color: #81b29a;
}

.pagination>li>a:hover {
  color: #3d405b;
}


