<div class="container">
  <h2 class='page-title'>検索ワード '<%= @value %>'</h2>
  <% if @model == 'stage' %>
  <div class="row col-md-10 mx-auto">
    <div class="ml-auto d-flex mb-4">
      <%= link_to "公演を新規登録する",new_admin_stage_path, class: "btn btn-dark px-3" %>
    </div>
  </div>
  <div class="row col-md-10 mx-auto">
    <%= render 'admin/stages/index', stages: @stages %>
  </div>
  <% else %>
  <div class="row col-md-10 mx-auto">
    <%= render 'admin/users/index', users: @users %>
  </div>
  <% end %>
  </div>
</div>